<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload CSV File Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container py-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1>Water pipeline system</h1>
            <form method="POST" th:action="@{/result}" enctype="multipart/form-data">

                <div class="form-group mt-3">
                    <label for="file1">Select a CSV file describes the water pipeline system.</label>
                    <input type="file" name="file1" class="form-control-file" id="file1" accept=".csv">
                </div>

                <div class="form-group mt-3">
                    <label for="file2">Select a CSV file with a set of points, between which you need to find the route.</label>
                    <input type="file" name="file2" class="form-control-file" id="file2" accept=".csv">
                </div>

                <button type="submit" class="btn btn-primary">Get Result</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
